[Unit]
Description=AirSonos
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --net="host" \
                     -p 5000-5050:5000-5050/tcp \
                     --rm --name="airsonos" \
                     fstehle/rpi-airsonos:latest
